header{

    display: grid;
    grid-template-columns: 1fr 70% 1fr;
    align-items: center;
    padding: 10px;

    .logo{
        p{
            font-size: 30px;
            font-weight: bold;
            position: relative;
            width: fit-content;
            margin-left: 40px;
            cursor: pointer;

            &::after{
                content: '';
                position: absolute;
                height: 100%;
                animation: logo 2s forwards;
                animation-iteration-count: 1;
                left: -20px;
                background-color: var(--black);
            }

            &::before{
                content: '';
                position: absolute;
                height: 5px;
                width: 0;
                left: -20px;
                background-color: var(--black);
                bottom: 0;
                transition: width .3s ease-in-out;
            }

            &:hover::before{
                width: calc(100% + 20px);
            }
        }


    }

    .main-menu{
        li{
            float: left;
            margin: 0 20px;
            list-style: none;
        }

        a{
            text-decoration: none;
            color: #000000;
            font-size: 18px;
        }
    }

    .login{
        a{
            text-decoration: none;
            color: #000000;
            font-size: 18px;
        }
    }
}

@keyframes logo {
    from{
        width: calc(100% + 20px);
    }

    to{
        width: 10px;
    }
}